.pricing-section {
    position: relative;
    z-index: 1;
}

@media (max-width: 767px) {
    .pricing-section.pt-120 {
        padding-top: 80px;
    }
}

@media (max-width: 767px) {
    .pricing-section.pb-120 {
        padding-bottom: 80px;
    }
}

.pricing-section .pricing-nav-wrapper ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.pricing-section .pricing-nav-wrapper ul li a {
    font-size: 18px;
    font-weight: 700;
    color: #5B657E;
    padding: 10px 30px;
    background: rgba(88, 100, 255, 0.1);
    margin: 5px;
    border-radius: 30px;
}

.pricing-section .pricing-nav-wrapper ul li a.active {
    color: #fff;
    background: #5864FF;
}

.pricing-section .single-pricing {
    border-radius: 20px;
    background: #fff;
    -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    box-sizing: border-box;
    padding: 45px 30px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all 1s;
    border: 2px solid #fff;
}

.pricing-section .single-pricing.active {
    border: 2px solid #4c4cff;
}

.pricing-section .single-pricing .pricing-header {
    padding-bottom: 35px;
    border-bottom: 2px solid #ddd;
    margin-bottom: 45px;
    text-align: center;
    transition: all .5s;
}

.pricing-section .single-pricing .pricing-header .price {
    font-size: 55px;
    margin-bottom: 30px;
    -webkit-text-stroke-color: #4c4cff;
    -webkit-text-stroke-width: 1px;
    color: transparent;
    transition: all .5s;
}

.pricing-section .single-pricing .content {
    font-size: 18px;
    padding: 0 1rem;
    margin-bottom: 30px;
}

.pricing-section .single-pricing:hover {
    border: 2px solid #4c4cff;
}

.pricing-section .single-pricing .pricing-header.active,
.pricing-section .single-pricing:hover .pricing-header {
    border-bottom: 2px solid #4c4cff;
}

.pricing-section .single-pricing .pricing-header .price.active,
.pricing-section .single-pricing:hover .price {
    color: #c6c6ff;
}